<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer class="container-fluid footer" th:fragment="footer">
		<div class="container footer__main">
			<div class="row footer__row">
				<div class="col-md-3 footer__col">
					<ul class="footer__ul">
						<li class="footer__li">Liên hệ</li>
						<li class="footer__li">Giới thiệu</li>
						<li class="footer__li">Chính sách</li>
						<li class="footer__li">Điều khoản</li>
						<li class="footer__li">Liên hệ</li>
						<li class="footer__li">Guest Post</li>
					</ul>
				</div>
				<div class="col-md-3 footer__col">
					<ul class="footer__ul">
						<li class="footer__li">Mã giảm giá</li>
						<li class="footer__li">TinoHost</li>
						<li class="footer__li">Azdigi</li>
						<li class="footer__li">Vultr</li>
						<li class="footer__li">Hawkhost</li>
						<li class="footer__li">Stablehost</li>
					</ul>
				</div>
				<div class="col-md-3 footer__col footer__col--course">
					<ul class="footer__ul">
						<li class="footer__li--course">Khoá học</li>
						<li class="footer__li">Javascript</li>
						<li class="footer__li">Front-end</li>
						<li class="footer__li">NodeJS</li>
						<li class="footer__li">React JS</li>
						<li class="footer__li">Fullstack</li>
					</ul>
				</div>
				<div class="col-md-3 footer__col">
					<ul class="footer__ul">
						<li class="footer__li">Giới thiệu</li>
						<li class="footer__li">Admin <span style="color: #F12C4D;">Cường</span>,
							quản lý chính của website.
						</li>
						<li class="footer__li">Email: thehalfheart@gmail.com</li>
						<li class="footer__li">Phone/Zalo: 0979306603</li>
						<li class="footer__li">Skype: thehalfheart</li>
					</ul>
				</div>
			</div>
			<div class="row footer__row--copyright">
				<span>Copyright @2020 - Freetuts.net. All Right Reserved<br />
					Theme <strong>GoodNews</strong>, nền tảng <strong>Codeigniter</strong>,
					VPS mua tại <strong>Tinohost</strong></span>
			</div>
		</div>
	</footer>
</body>
</html>