<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header class="header">
        <div class="inner">
            <div class="logo">
                                <a th:href="@{/}" title="freetuts">
                    <img src="https://freetuts.net/public/logo/logo.png?rand=5" alt="freetuts" style="max-width: 160px; margin-top: -10px">
                </a>
                            </div>
            <div class="header-right ">
                <div class="mom-e3lanat-wrap">
                    <div class="mom-e3lanat">
                        <div class="mom-e3lanat-inner">
                            <div class="mom-e3lan">
                                <div class="e3lan-code">
                                    <div class="social-header">
                                        <ul class="mom-social-icons">
                                            <li class="facebook"><a class="vector_icon" href="https://www.facebook.com/freetuts/" target="_blank" rel="noopener noreferrer nofollow external" title="no title"><i class="fa-icon-facebook "></i></a></li>
                                            <li class="youtube"><a class="vector_icon" href="https://www.youtube.com/channel/UC0jGwW2AfbsGbuY_Z3jtkAg" target="_blank" rel="noopener noreferrer nofollow external" title="UC0jGwW2AfbsGbuY Z3jtkAg"><i class="fa-icon-youtube"></i></a></li>
                                            <li class="twitter"><a class="vector_icon" href="https://twitter.com/freetuts_net" target="_blank" rel="noopener noreferrer nofollow external" title="freetuts net"><i class="fa-icon-twitter"></i></a></li>
                                            <li class="skype"><a target="_blank" class="vector_icon" href="skype:thehalfheart?call" title="skype thehalfheart call"><i class="fa-icon-skype"></i></a></li>
                                         
                                         </ul>
                                    </div>
                                    
                                    <div class="search-form default-search-form ">
                                        <form method="get" action="https://www.google.com.vn/search" target="_blank" onsubmit="jQuery('#q1').val('site:freetuts.net ' + jQuery('#q_tmp').val())"> 
                                            <input class="sf" type="text" placeholder="Search ..." value="" onkeypress="" autocomplete="off" id="q_tmp"> 
                                             <input type="hidden" name="q" id="q1" value="">
                                            <button class="button" type="submit"><i class="fa-icon-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            
        </div>
        
    </header>
</body>
</html>