.nav {
  /* position */

  /* display & box model */
  margin: 0;

  /* color */
  background-color: $nav-main;

  /* text */

  /* other */

  &__container {
    /* position */

    /* display & box model */
    display: flex;
    justify-content: center;

    /* color */

    /* text */

    /* other */
  }

  &__ul {
    /* position */

    /* display & box model */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    /* color */

    /* text */

    /* other */
  }

  &__li {
    /* position */
    position: relative;

    /* display & box model */

    /* color */

    /* text */

    /* other */
    &:hover .nav__submenu {
      /* position */

      /* display & box model */
      display: block;

      /* color */

      /* text */

      /* other */
    }
  }

  &__li &__link {
    /* position */

    /* display & box model */
    display: inline-block;
    padding: 10px 10px;

    /* color */
    background-color: $nav-main;
    color: white;

    /* text */
    font-size: 20px;

    /* other */
    transition: background-color 0.5s;

    &:hover {
      /* position */

      /* display & box model */

      /* color */
      background-color: $t-main;
      color: white;

      /* text */

      /* other */
    }
  }

  &__submenu {
    /* position */
    position: absolute;
    top: 50px;
    left: 0;

    /* display & box model */
    display: none;
    padding: 10px 0px;
    /* color */
    background-color: $t-main;
    box-shadow: 0px 0px 20px #888888;

    /* text */

    /* other */

    &-ul {
      /* position */

      /* display & box model */
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      margin: 0;

      /* color */

      /* text */

      /* other */
    }
    &-li {
      width: 160px;
      margin-right: 15px;
    }
    &-li:first-child {
      margin-left: 15px;
    }
    &-li:last-child {
      margin-right: 15px;
    }
  }

  &__support {
    &-ul {
      /* position */

      /* display & box model */
      margin: 0;
      padding: 0;

      /* color */

      /* text */

      /* other */
    }
  }
}
