<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<!-- <link rel="stylesheet" href="resources/static/web/css/style.css"> -->
<link rel="stylesheet" href="resources/static/web/css/style1.css">
<link rel="stylesheet" href="resources/static/web/css/nav.css">
<link rel="stylesheet" href="resources/static/web/css/article.css">
<body>

	<!-- header  -->
	<div th:replace="common/web/header :: header"></div>
	<!-- nav  -->
	<div th:replace="common/web/nav :: nav"></div>

	<div class="container">

		<h2 class="breadcrumb"></h2>

	</div>

	<div class="container" style="z-index: -1; margin-top: 10px">

		<div class="card">
			<div class="card__title"></div>
			<div class="card-body">

				<div class="section"></div>

			</div>
		</div>

	</div>

	<div class="container">
		<div
			class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
			<div class="bp-entry">
				<div class="bp-head">
					<h2>
						<a
							href="https://freetuts.net/chuyen-chu-hoa-thanh-chu-thuong-trong-java-3555.html"
							title="Cách chuyển chữ hoa thành chữ thường trong Java">Cách
							chuyển chữ hoa thành chữ thường trong Java</a>
					</h2>

				</div>
				<div class="bp-details">
					<div class="post-img">
						<a
							href="https://freetuts.net/chuyen-chu-hoa-thanh-chu-thuong-trong-java-3555.html"
							title="Cách chuyển chữ hoa thành chữ thường trong Java"> <img
							src="http://dummyimage.com/100x100.png/5fa2dd/ffffff"
							width="100" height="100"
							alt="Cách chuyển chữ hoa thành chữ thường trong Java">
						</a>
					</div>
					<p>Trong bài viết này chúng ta sẽ tìm hiểu về cách chuyển đổi
						chữ in hoa thành chữ thường trong…</p>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
        <div class="bp-entry">
            <div class="bp-head">
                <h2><a href="https://freetuts.net/chuyen-chu-hoa-thanh-chu-thuong-trong-java-3555.html" title="Cách chuyển chữ hoa thành chữ thường trong Java">Cách chuyển chữ hoa thành chữ thường trong Java</a></h2>
                    
            </div>
            <div class="bp-details">
                <div class="post-img">
                    <a href="http://dummyimage.com/50x50.png/5fa2dd/ffffff" title="Cách chuyển chữ hoa thành chữ thường trong Java">
                        <img src="http://dummyimage.com/100x100.png/5fa2dd/ffffff" width="100" height="100" alt="Cách chuyển chữ hoa thành chữ thường trong Java">
                    </a>
                </div>
                <p>
                    Trong bài viết này chúng ta sẽ tìm hiểu về cách chuyển đổi chữ in hoa thành chữ thường trong…                </p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
	</div>

	<!-- footer  -->
	<div th:replace="common/web/footer :: footer"></div>

</body>
<script type="text/javascript" src="resources/static/web/js/menu.js"></script>
<script type="text/javascript" src="resources/static/web/js/article.js"></script>
</html>