<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<!-- <link rel="stylesheet" href="resources/static/web/css/style.css"> -->
<link rel="stylesheet" th:href="@{/resources/static/web/css/style1.css}">
<link rel="stylesheet" th:href="@{/resources/static/web/css/nav.css}">
<title>Start Here</title>
</head>
<body>
	<!-- header  -->
	<div th:replace="common/web/header :: header"></div>
	<!-- nav  -->
	<div th:replace="common/web/nav :: nav"></div>
	<div class="boxed-content-wrapper clearfix">

		<div class="inner">

			<div class="breadcrumber"
				style="line-height: 30px; margin-bottom: 10px; font-size: 15px">
				<div itemscope="" itemtype="https://schema.org/BreadcrumbList">

					<span itemprop="itemListElement" itemscope=""
						itemtype="https://schema.org/ListItem"> <a itemprop="item"
						href="https://freetuts.net" title="Trang chủ"> <span
							itemprop="name">Home</span>
							<meta itemprop="position" content="1">
					</a>
					</span> &gt; <span itemprop="itemListElement" itemscope=""
						itemtype="https://schema.org/ListItem"> <a itemprop="item"
						href="https://freetuts.net/hoc-java" title="Học Java"> <span
							itemprop="name">Học Java</span>

							<meta itemprop="position" content="2">
					</a>
					</span> &gt; <span itemprop="name">Java core</span>

				</div>
			</div>


		</div>
		<div class="inner" style="margin-top: 20px;">

			<div class="main_container">
				<div class="main-col" id="main_container">

					<div class="base-box" itemtype="http://schema.org/Article">

						<div class="entry-content">

							<div>
								<div style="float: right; padding-left: 20px">
									<img title="Java core"
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										style="max-width: 200px" alt="java jpg">
								</div>
								<p>
									Trong phần này bạn sẽ được học kiến thức liên
									quan đến Java core nằm trong chuyên mục <a
										href="https://freetuts.net/hoc-java" title="Java">Java</a>,
									nếu có vấn đề thắc mắc thì hãy liên hệ admin
									để được hướng dẫn.
								</p>
								<p>Các bài viết được cập nhật liên tục, vì
									vậy hãy bookmark lại trên trình duyệt web để sau
									này khỏi mất công tìm kiếm nhé.</p>

							</div>
							<div class="clearboth"></div>

							<div class="table-responsive">
								<table class="bordered">
									<thead>
										<tr>
											<th>General</th>
										</tr>
									</thead>
									<tbody class="tbody">
									
									</tbody>
								</table>
							</div>

						</div>
					</div>

					<br>
				</div>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	<!-- footer  -->
	<div th:replace="common/web/footer :: footer"></div>
</body>
<script type="text/javascript"
	th:src="@{/resources/static/web/js/menu.js}"></script>
<script type="text/javascript"
	th:src="@{/resources/static/web/js/article.js}"></script>
</html>