<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" th:href="@{/resources/static/web/css/style1.css}">
<link rel="stylesheet" th:href="@{/resources/static/web/css/nav.css}">
<link rel="stylesheet"
	th:href="@{/resources/static/web/css/article.css}">
<body>

	<!-- header  -->
	<div th:replace="common/web/header :: header"></div>
	<!-- nav  -->
	<div th:replace="common/web/nav :: nav"></div>

	<div class="boxed-content-wrapper clearfix">

		<div class="inner">

			<div class=""
				style="line-height: 30px; margin-bottom: 10px; font-size: 15px">
				<div itemscope="" itemtype="https://schema.org/BreadcrumbList">

					<span itemprop="itemListElement" itemscope=""
						itemtype="https://schema.org/ListItem"> <a itemprop="item"
						th:href="@{/}" title="Trang chủ"> <span itemprop="name">Home</span>
							<meta itemprop="position" content="1">
					</a>
					</span> &gt; <span itemprop="name">Course</span>

				</div>
			</div>


		</div>
		<div class="inner" style="margin-top: 20px;">

			<div class="main_container">
				<div class="main-col" id="main_container">
					<div class="base-box" itemtype="http://schema.org/Article">
						<h1 id="main_title" class="post-tile entry-title"
							itemprop="headline">Course</h1>
						<span id="element_action" data-id="41"
							data-uri="https://freetuts.net/ajax/view/tut_group"></span>

						<div class="mom-post-meta single-post-meta">
							<span class="author vcard">Đăng bởi: <span class="fn">
									Administrator </span> <span> | Vào ngày: <time
										datetime="2019-08-04T23:57:51+07:00" itemprop="datePublished"
										class="updated">04-08-2019</time>
							</span>
							</span>
						</div>
						<div class="entry-content">

							<p>Chuyên mục tổng hợp các bài viết về course, bạn có thể
								tham khảo và sử dụng tài liệu course hoàn toàn miễn phí.</p>

							<div class="clearboth"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>

		</div>
	</div>
	<div class="clear"></div>

	<!-- footer  -->
	<div th:replace="common/web/footer :: footer"></div>

</body>
<script type="text/javascript"
	th:src="@{/resources/static/web/js/menu.js}"></script>
<script type="text/javascript"
	th:src="@{/resources/static/web/js/course.js}"></script>
<!-- <script type="text/javascript"
	th:src="@{/resources/static/web/js/article.js}"></script> -->
</html>