<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="resources/static/web/css/style.css">
<title>Start Here</title>
</head>
<body>
	<!-- header  -->
	<div th:replace="common/web/header :: header"></div>
	<!-- nav  -->
	<div th:replace="common/web/nav :: nav"></div>
	<!-- footer  -->
	<div th:replace="common/web/footer :: footer"></div>
</body>
	<script type="text/javascript" src="resources/static/web/js/navigation.js"></script>
</html>