<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<!-- <link rel="stylesheet" href="resources/static/web/css/style.css"> -->
<link rel="stylesheet" th:href="@{/resources/static/web/css/style1.css}">
<link rel="stylesheet" th:href="@{/resources/static/web/css/nav.css}">
<title>Start Here</title>
</head>
<body>
	<!-- header  -->
	<div th:replace="common/web/header :: header"></div>
	<!-- nav  -->
	<div th:replace="common/web/nav :: nav"></div>

	<div class="boxed-content-wrapper clearfix">

		<div class="inner">


			<div class="breadcrumber"
				style="line-height: 30px; margin-bottom: 10px; font-size: 15px">

			</div>


		</div>
		<div class="inner" style="margin-top: 20px;">

			<div class="main_container">
				<div class="main-col" id="main_container">

					<div class="base-box single-box about-the-author"
						itemtype="http://schema.org/Article">
						<h1 id="main_title" class="post-tile entry-title"
							itemprop="headline">Học Java</h1>
						<!--<div style="margin-bottom: 20px">
<div class="sharethis-inline-share-buttons"></div>
</div>-->
						<div class="mom-post-meta single-post-meta">
							<span class="author vcard">Đăng bởi: <span class="fn">
									Administrator </span>
							</span>
						</div>
						<div class="entry-content">

						</div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/chuyen-chu-hoa-thanh-chu-thuong-trong-java-3555.html"
										title="Cách chuyển chữ hoa thành chữ thường trong Java">Cách
										chuyển chữ hoa thành chữ thường trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/chuyen-chu-hoa-thanh-chu-thuong-trong-java-3555.html"
										title="Cách chuyển chữ hoa thành chữ thường trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Cách chuyển chữ hoa thành chữ thường trong Java">
									</a>
								</div>
								<p>Trong bài viết này chúng ta sẽ tìm hiểu về cách chuyển
									đổi chữ in hoa thành chữ thường trong…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/tinh-tong-cac-so-tu-nhien-trong-java-3554.html"
										title="Bài tập tính tổng các số tự nhiên trong Java">Bài
										tập tính tổng các số tự nhiên trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/tinh-tong-cac-so-tu-nhien-trong-java-3554.html"
										title="Bài tập tính tổng các số tự nhiên trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Bài tập tính tổng các số tự nhiên trong Java">
									</a>
								</div>
								<p>Các số dương 1, 2, 3, 4, ... được gọi là các số tự nhiên,
									tổng các số tự nhiên…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/chuyen-chu-thuong-thanh-chu-hoa-trong-java-3553.html"
										title="Cách chuyển chữ thường thành chữ hoa trong Java">Cách
										chuyển chữ thường thành chữ hoa trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/chuyen-chu-thuong-thanh-chu-hoa-trong-java-3553.html"
										title="Cách chuyển chữ thường thành chữ hoa trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Cách chuyển chữ thường thành chữ hoa trong Java">
									</a>
								</div>
								<p>Trong chuỗi có thể vừa có ký tự thường vừa có ký tự hoa,
									nhưng sau khi chuyển đổi thì…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/viet-hoa-ky-tu-dau-tien-trong-java-3552.html"
										title="Cách viết hoa ký tự đầu tiên trong Java">Cách viết
										hoa ký tự đầu tiên trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/viet-hoa-ky-tu-dau-tien-trong-java-3552.html"
										title="Cách viết hoa ký tự đầu tiên trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Cách viết hoa ký tự đầu tiên trong Java">
									</a>
								</div>
								<p>Để hiểu được bài này, các bạn cần có kiến thức căn bản về
									Java ...</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/chuyen-doi-gio-phut-giay-trong-java-3551.html"
										title="Hướng dẫn chuyển đổi giờ phút giây trong Java">Hướng
										dẫn chuyển đổi giờ phút giây trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/chuyen-doi-gio-phut-giay-trong-java-3551.html"
										title="Hướng dẫn chuyển đổi giờ phút giây trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Hướng dẫn chuyển đổi giờ phút giây trong Java">
									</a>
								</div>
								<p>Để hiểu được chương trình, các bạn cần có kiến thức cơ
									bản về Java. Cụ thể là về câu…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/cach-lay-thoi-gian-hien-tai-trong-java-3550.html"
										title="Cách lấy thời gian hiện tại trong Java">Cách lấy
										thời gian hiện tại trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/cach-lay-thoi-gian-hien-tai-trong-java-3550.html"
										title="Cách lấy thời gian hiện tại trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Cách lấy thời gian hiện tại trong Java">
									</a>
								</div>
								<p>Để hiểu được bài viết này, các bạn cần có kiến thức cơ
									bản sau ...</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/cach-lam-tron-so-trong-java-3549.html"
										title="Cách làm tròn số trong Java">Cách làm tròn số trong
										Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/cach-lam-tron-so-trong-java-3549.html"
										title="Cách làm tròn số trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140" alt="Cách làm tròn số trong Java">
									</a>
								</div>
								<p>Khi thực hiện tính toán, việc kết quả ra một con số thập
									phân dài rất bình thường, vì vậy…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/tim-ma-tran-chuyen-vi-trong-java-3548.html"
										title="Cách tìm ma trận chuyển vị trong Java">Cách tìm ma
										trận chuyển vị trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/tim-ma-tran-chuyen-vi-trong-java-3548.html"
										title="Cách tìm ma trận chuyển vị trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Cách tìm ma trận chuyển vị trong Java">
									</a>
								</div>
								<p>Quá trình hoán đổi giữa hàng và cột được gọi là chuyển vị
									của ma trận ...</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/chuyen-arraylist-thanh-mang-trong-java-3547.html"
										title="Cách chuyển ArrayList thành mảng và ngược lại trong Java">Cách
										chuyển ArrayList thành mảng và ngược lại trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/chuyen-arraylist-thanh-mang-trong-java-3547.html"
										title="Cách chuyển ArrayList thành mảng và ngược lại trong Java">
										<img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Cách chuyển ArrayList thành mảng và ngược lại trong Java">
									</a>
								</div>
								<p>Để hiểu được bài này, các bạn cần có kiến thức cơ bản về
									mảng và class ArrayList trong Java.</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/noi-hai-mang-trong-java-3546.html"
										title="Cách nối hai mảng trong Java">Cách nối hai mảng
										trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/noi-hai-mang-trong-java-3546.html"
										title="Cách nối hai mảng trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140" alt="Cách nối hai mảng trong Java">
									</a>
								</div>
								<p>Mình sẽ thực hiện hai chương trình nối mảng. Chương trình
									thứ nhất nối hai mảng bằng cách thủ công…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/xoa-khoang-trang-cua-chuoi-trong-java-3545.html"
										title="Cách xóa khoảng trắng của chuỗi trong Java">Cách
										xóa khoảng trắng của chuỗi trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/xoa-khoang-trang-cua-chuoi-trong-java-3545.html"
										title="Cách xóa khoảng trắng của chuỗi trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Cách xóa khoảng trắng của chuỗi trong Java">
									</a>
								</div>
								<p>Mình sẽ thực hiện hai chương trình khác nhau để các bạn
									có thể hiểu rõ hơn. Chương trình thứ…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/in-ra-tam-giac-bang-ky-tu-va-so-trong-java-3544.html"
										title="In ra tam giác bằng ký tự * và số trong Java">In ra
										tam giác bằng ký tự * và số trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/in-ra-tam-giac-bang-ky-tu-va-so-trong-java-3544.html"
										title="In ra tam giác bằng ký tự * và số trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="In ra tam giác bằng ký tự * và số trong Java">
									</a>
								</div>
								<p>Mình sẽ giới thiệu cách để in ra các tam giác bằng ký tự
									* và số chỉ với các…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/tim-so-lon-nhat-trong-mang-java-3543.html"
										title="Tìm số lớn nhất trong mảng Java">Tìm số lớn nhất
										trong mảng Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/tim-so-lon-nhat-trong-mang-java-3543.html"
										title="Tìm số lớn nhất trong mảng Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140" alt="Tìm số lớn nhất trong mảng Java">
									</a>
								</div>
								<p>Các bạn cần tìm hiểu về mảng, cách khởi tạo và in mảng
									trong Java trước đã nhé. Các bạn…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/tim-uoc-cua-mot-so-nguyen-trong-java-3542.html"
										title="Tìm ước của một số nguyên trong Java">Tìm ước của
										một số nguyên trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/tim-uoc-cua-mot-so-nguyen-trong-java-3542.html"
										title="Tìm ước của một số nguyên trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Tìm ước của một số nguyên trong Java">
									</a>
								</div>
								<p>Trong bài viết này chúng ta sẽ tìm hiểu cách tìm tất cả
									các ước số của một số nguyên…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div
						class="base-box blog-post default-blog-post bp-horizontal-share post type-post status-publish format-standard has-post-thumbnail category-money tag-momizat tag-ordpress tag-templates tag-themes tag-tutorial">
						<div class="bp-entry">
							<div class="bp-head">
								<h2>
									<a
										href="https://freetuts.net/kiem-tra-so-hoan-hao-trong-java-3541.html"
										title="Cách kiểm tra số hoàn hảo trong Java">Cách kiểm tra
										số hoàn hảo trong Java</a>
								</h2>

							</div>
							<div class="bp-details">
								<div class="post-img">
									<a
										href="https://freetuts.net/kiem-tra-so-hoan-hao-trong-java-3541.html"
										title="Cách kiểm tra số hoàn hảo trong Java"> <img
										src="https://freetuts.net/upload/tut_cate/images/2017/09/11/110/java.jpg"
										width="220" height="140"
										alt="Cách kiểm tra số hoàn hảo trong Java">
									</a>
								</div>
								<p>Trong bài viết này chúng ta sẽ tìm hiểu cách kiểm tra số
									hoàn hảo trong Java. Số hoàn hảo…</p>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>


		</div>
		<div class="clear"></div>
	</div>

	<!-- footer  -->
	<div th:replace="common/web/footer :: footer"></div>

</body>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script type="text/javascript"
	th:src="@{/resources/static/web/js/menu.js}"></script>
<script type="text/javascript"
	th:src="@{/resources/static/web/js/topic.js}"></script>
</html>