* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav {
	background-color: white !important;
	border-top: 1px solid !important;
    border-bottom: 1px solid black !important;
}


.nav__li {
	position: relative !important;
	display: inline-block !important;
	padding: 15px 25px !important;
}
.nav__li > a {
	color: #6e7687 !important;
	
}

.nav__div {
	display: none !important;
	position: absolute !important;
	z-index: 1 !important;
    top: 54px !important;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%) !important;
    background-color: #fff !important;
}
.nav__li:hover .nav__div {
	display: block !important;
}
.nav__parent {
	width: 100% !important;
}
.nav__div .nav__ul {
	    width: 190px !important;
}